# fastapi
# tf-keras
# uvicorn[standard]
# streamlit
# pandas
# requests
# scikit-learn
# torch
# transformers
# # ipfshttpclient
# ipfs-kubo-client
# python-multipart
fastapi
uvicorn[standard]
streamlit
pandas
requests
scikit-learn
torch
transformers
python-multipart
tf-keras
